#homeHead {
	margin-bottom: 100px;
	background-color: pink;
}

/* HighScore Anchor Tag Color Set */
#highScore:visited {
	color: brown;
	background-color: transparent;
	text-decoration: none;
}
#highScore:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}
#highScore:active {
	color: bisque;
	background-color: transparent;
	text-decoration: underline;
}

/* Page Background */
body {
	background-image: url(./Assets/galaxy.jpg);
}

.jumbotron {
	height: 450px;
	border-radius: 5px;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
	font-size: 18px;
	margin: 0 auto;
	max-width: 1000px;
	background-color: lavenderblush;
	text-align: center;
	color: brown;
}

button {
    border: none;
    background-color: #f83f74;
    color: white;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    font-size: 30px;
    font-family: 'Lora', serif;
    margin: 9px;
}

button:hover {
    transition-duration: 0.2s;
    background-color: #f35181;
}

.hide {
	display: none;
}

h2 {
    color: brown;

}
